doctype html
html
  head
    title=title
    link(rel='text/html', href='stylesheets/jumbotron-narrow.css')
    link(rel='text/html', href='/stylesheets/style.css')
  body
    div.container
      div.header.clearfix
        ul.nav.nav-pills.pull-right
          li(role="presentation").active
            a(href='/order/create_payment_url') Tạo mới
        h3.text-muted VNPAY DEMO
      block content
      footer.footer
        p &copy; VNPAY #{new Date().getFullYear()}